:root {
   --main: #1086FE;
   --darker: #1045FE;
   --lines:  rgb(192, 192, 192);
}
/* Nav Bar */
nav {
  border: 1px solid white;
  border-bottom-color: var(--lines);
  position: fixed;
  width: 99%;
  background-color: white;
}

nav img {
  height: 100px;
  margin-top: -7px;
}

nav .top-right {
  margin-top: -110px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
}

nav .top-right .link {
  text-align: center;
  display: inline-block;
  border: 1px solid transparent;
  border-right-color: var(--lines);
  border-left-color: var(--lines);
  padding: 30px;
  width: 70px;
  margin: 10px 0px;
}

nav a {
  text-decoration: none;
  color: black;
}

/* Home Page Syling */

.home-container {
  display: flex;
  height: 85vh;
  justify-content: center;
}

/* right side */
.right {
  width: 75%;
  box-sizing: border-box;
  background-image : url("./images/hi.jpeg");
    background-size: cover;
    background-position: absolute;
    background-repeat: no-repeat;
}

.text-box {
  border: 1px solid transparent;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 72%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  border-top-color: var(--lines);
  background-color: white;
}

.text-box form {
  width: 100%;
  display: flex;
}

.text-box input[type="text"] {
  font-size: large;
  width: 98%;
  height: 30px;
  border-radius: 10px;
  border: solid 1px;
}

.text-box button {
  font-size: large;
  width: 10%; 
  background-color: var(--main);
  color: white;
  transition-timing-function: ease-out;
  transition: all 0.8s;
  border-radius: 10px;
  border: 0px;
}

.text-box .text-area {
  width: 90%; 
}

/* left side  */
.left {
  width: 25%;
  background-color: #f0f0f0;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-right-color: var(--lines);
  overflow:scroll;
  overflow-x:hidden;
}

.add {
  background-color: white;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.add button {
  background-color: var(--main);
  height: 60px;
  width: 100%;
  border-radius: 10px;
  border: 0px;
  color: white;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
}

.add button img {
  height: 25px;
  margin: 5px;
}

/* search bar */

.search {
  display: flex;
  justify-content: center;
  background-color: white;
  border: 1px solid transparent;
  border-top-color: var(--lines);
  padding: 10px;
}

.search form {
  display: flex;
  width: 100%;
}

.search-box {
  width: 100%;
  display: flex;
}

.search input[type="text"] {
  width: 95%;
}

.search button {
  width: 30%;
}

#hide {
  display: none;
}

/* hover animations */
.text-box button:hover {
  transform: translateY(-10px);
  background-color: var(--darker);
}

.add button:hover {
  background-color: var(--darker);
  scale: 1.01;
}