:root {
   --main: #1086FE;
   --lines:  rgb(192, 192, 192);
}
/* Nav Bar */
nav {
  border: 1px solid transparent;
  border-bottom-color: var(--lines);
}

nav img {
  height: 100px;
}

/* Home Page Syling */

.home-container {
  display: flex;
  height: 85vh;
  justify-content: center;
}

/* right side */
.right {
  width: 75%;
  box-sizing: border-box;
}

.text-box {
  border: 1px solid transparent;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 70%;
  margin-left: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  border-top-color: var(--lines);
}

.text-box form {
  width: 100%;
  display: flex;
}

.text-box input[type="text"] {
  font-size: large;
  width: 98%;
  height: 30px;
  border-radius: 10px;
}

.text-box button {
  font-size: large;
  width: 10%; 
  background-color: var(--main);
  border-radius: 10px;
  color: white;
}

.text-box .text-area {
  width: 90%; 
}

/* left side  */
.left {
  width: 25%;
  background-color: #f0f0f0;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-right-color: var(--lines);
  overflow:scroll;
  overflow-x:hidden;
}

.add {
  background-color: white;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.add button {
  background-color: var(--main);
  height: 60px;
  width: 100%;
  border-radius: 10px;
  color: white;
  font-size: larger;
}