
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}
.body {
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
    background-image : url("./images/hi.jpeg");
    background-size: cover;
    background-position: absolute;
    background-repeat: no-repeat;
    font-family:'Times New Roman', Times, serif
}

main {
    display: block;
}

/* Login and Signup Styling */

.login-form, .signup-form {
    width: 500px;
    height: 300px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form h1, .signup-form h1 {
    position: absolute;
    top: 0;
    left: 30px;
}

.login-form a, .signup-form a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: #1086FE;
    font-size: 15px;
    position: absolute; 
    bottom: 10px; 
    right: 10px; 
}

.form-container input {
    font-size: large;
    width: 98%;
    height: 30px;
}

.form-container button{
    margin-top: 10px;
    border-radius: 10px;
    background-color: #1086FE;
    border: 0px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: white;
}